﻿body{
    background-color: #d1d1d1;
}
h2{
    color:#00529c;
}
input[type=checkbox] {
    margin-right: 10px;
}
/* Inician estilos barra de navación */
a.navbar-brand + a {
    background: url(Imgs/user-menu.png) no-repeat;
    background-position: center top;
    color: #ffffff !important;
    padding-top: 45px;
    text-transform: uppercase;
}
.navbar.bg-light{
    background:#00529c !important;
}
.navbar-light .navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.navbar-light .navbar-toggler {
    border-color: rgba(255,255,255,1);
}
#navdatatoggler ul li:hover{
    background-color: #042039;
}
#navdatatoggler ul li a{
    color:#ffffff;
    display: inline-block;
    padding: 5px 15px;
}
#navdatatoggler ul a:hover{
    color:#92bbe0;
    text-decoration: none;
}
/* Terminan estilos barra de navegación */

/* Inicia sobreescritura estilos bootstrap */
.navbar .container{
    background-color: #00529c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .container{
    margin-bottom: 0;
    padding-bottom: 0;
}
.container{
    background-color: #ededed;
    margin-bottom: 2em;
    padding-bottom: 3em;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}
.container .container, .sin-sombras {
    background-color: #ededed;
    margin-bottom: 2em;
    padding-bottom: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.container.body-content{
    padding-top: 2em;
}
.form-control, .tab-pane .form-control{
    color: #00529c;
    border: 1px solid #00529c !important;
}
.tab-pane .form-control {
    border: 1px solid red;
}
.control-label{
    color: #00529c;
}
hr {
    width: 10%;
    margin-top: 0;
    border-top: 2px solid #5dbf3a;
}
.btn.btn-default{
    background-color: #00529c;
    color:#ffffff;
    padding-left: 25px;
    padding-right: 25px;
}
.breadcrumb{
    background-color: #00529c;
}
.breadcrumb .breadcrumb-item a{
    color:#92bbe0;
    text-decoration: none;
}
.breadcrumb .breadcrumb-item.active a{
    color:#ffffff;
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #ffffff;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #92bbe0;
}
/*.table td {
    border-top: 1px solid #00529c;
}*/
.table th {
    background-color: #00529c;
    border-top: 1px solid #00529c;
    color:#ffffff;
}
.table td{
    color:#00529c;
}
.table tr:hover, .table tr:nth-child(odd), .table tr:nth-child(2n+1){
    background-color: #f7f7f7;
}
.table tr:last-child:hover, .table tr:nth-child(even), .table tr:nth-child(2n){
    background-color: #ffffff;
}
.nav-tabs .nav-link.active{
    border: none;
}
.nav-tabs {
    border-bottom: 1px solid #92bbe0;
}
.table td, .table th {
    border-top: 1px solid #00529c;
}
.ui-widget-header {
    border: 1px solid #00529c;
    background: #00529c;
    color: #ffffff;
}
.ui-dialog-titlebar-close{
    background: #dd2222;
    border: 1px solid #ffffff;
}
.ui-dialog-titlebar-close::after {
    content: "X";
    position: absolute;
    top: -2px;
    left: 4px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #00529c !important;
}
span.select2-selection.select2-selection--single {
    border: 1px solid #00529c !important;
}
/* Termina sobreescritura estilos bootstrap */
#loginForm .form-group {
    margin-bottom: 1rem;
}
.clearfix{
    clear: both;
}
.btn-green, #MainContent_NuevoEndoso .dropdown-toggle {
    background-color: #5dbf3a;
    color:#ffffff;
    margin-top: -58px;
    margin-right: 10px;
    padding: 6px 20px 5px;
}
#MainContent_NuevoEndoso .dropdown-toggle{
    padding: 10px 20px 12px;
}
.btn-green .dropdown-menu.show{
    background-color: #5dbf3a;
}
.btn-green a{
    color:#ffffff;
    text-decoration: none;
}
.input-group-append.col-md-7{
    padding-left: 5px;
    padding-right: 5px;
    scroll-padding-left: 0;
}
.input-group.mb-3 .col-md-2, .input-group.mb-3 .col-md-4, .input-group.mb-3 .col-md-5, .input-group.mb-3 .col-md-6{
    padding-left: 5px;
    padding-right: 5px;
}
.btn.btn-outline-secondary{
    background-color: #00529c;
    color:#ffffff;
}
.txt-white{
    color:#ffffff;
}
.col span{
    color:#00529c;
}
.select2-container .select2-selection--single, #MainContent_txtInicio, #MainContent_txtFin, #MainContent_txtPolOriginal, #MainContent_txtPolNueva {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #00529c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00529c;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.nav.nav-tabs{
    margin-bottom: 25px;
    margin-top: 25px;
}
.nav.nav-tabs .nav-item a, .nav.nav-tabs .nav-item a.nav-link{
    background-color: #92bbe0 !important;
    color:#ffffff;
    margin-right: 5px;
    text-decoration: none;
}
.nav.nav-tabs .nav-item a.active{
    background-color: #00529c !important;
    color:#ffffff;
}
.aspNetDisabled{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-append input[type=submit]{
    background-color: #00529c;
    background-image: none;
    border-color: #6c757d;
    color: #ffffff;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.table.table-hover.table-striped table:last-child{
    background-color: #ffffff !important;
    border: 1px solid #00529c;
    border-top: 1px solid #00529c;
}
.table.table-hover.table-striped table:last-child tr:nth-of-type(odd){
    background-color: #ffffff !important;
    border-top: 1px solid #00529c;
}
.ui-dialog-buttonset button, #MainContent_btnDescargar, #MainContent_btnSendEmail, #BtnAceptar{
    background-color: #00529c;
    background-image: none;
    border-color: #6c757d;
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type=image]{
    margin-right: 10px;
}
#images .container{
    padding-top: 135px;
}