﻿    .cCargando {
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: fixed;
            background-color: #F2F2F2;
            opacity: 0.8;
            filter: alpha(opacity=80); /* Internet Explorer 8*/
            z-index: 9999;
            transition: width 2s;
            -moz-transition: width 2s; /* Firefox 4 */
            -webkit-transition: width 2s; /* Safari and Chrome */
            -o-transition: width 2s; /* Opera */
            cursor: progress;
        }

        .cCargandoImg {
            cursor: progress;
            position: absolute;
            top: 32%;
            right: 45%;
            left: 35%;
            filter: alpha(opacity=80); /* Internet Explorer 8*/
            opacity: 0.8;
            margin: auto;
            width: 350px;
            text-align: center;
            height: 150px;
            padding: 10px;
            background-color: #F2F2F2;
            /*border: 1px solid #000;*/
            color: #ffffff;
            font-size: 2em;
        }

        .w3-codespan {
            color: crimson;
            background-color: #f1f1f1;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 1rem;
        }

        .espacio {
            height: 8px;
        }
