﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CognisoWebApp.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Cognitum</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <script src="/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script> 
    
    <script src="/Scripts/jquery-ui.js" type="text/javascript"></script> 
    <script src="/Scripts/popper.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"></script> 
    <script type="text/javascript">
        var idleTime = 0;
        $(document).ready(function () {

            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });

        function timerIncrement() {
            if (window.location.pathname != "/Account/Login") {

                idleTime = idleTime + 1;
                if (idleTime > 1000000) {
                    idleTime = -1000;
                    $.post("/Shared/LogSessionOff.ashx", null, function () {
                        alert('Se cerró la sesión por inactividad');
                        window.location.href = '../Account/Login.aspx';
                        //$("#result").append("<p>Session is alive and kicking!<p/>");
                    });
                }
            }
        }
    </script>  
    
    

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server" EnablePageMethods="true">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        <nav class="navbar navbar-light bg-light" >
            <div class="container">
            <a class="navbar-brand" href="#">
                    <img src="/Content/Imgs/GLOBAL-ASSURANCE.png" width="158" height="48" class="d-inline-block align-top" style="margin-top:0px"  alt=""/>
                Cognitum</a>
            <a> <% if (Context.User.Identity.GetUserName() != "") Response.Write("Hola " + Context.User.Identity.GetUserName());  %></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navdatatoggler">
                        <span class="navbar-toggler-icon"></span>
             </button>
             <div class="navbar-collapse collapse" id="navdatatoggler">
                   
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <!--<li><a runat="server" href="~/Account/Register">Register</a></li>-->
                                <li><a runat="server" href="~/Account/Login">Iniciar Sesión</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/ProspectosList.aspx">Prospectos</a></li>
                                <li><a runat="server" href="~/CustomerList.aspx">Clientes</a></li>
                                <li><a runat="server" href="~/NegociacionList.aspx">Negociaciones</a></li>
                                <li><a runat="server" href="~/PolizasList.aspx">Polizas</a></li>
                                <!--<li><a runat="server" href="~/PolizasList.aspx">Cancelación de Pólizas</a></li>-->
                                <li><a runat="server" href="~/LiquidacionList.aspx">Liquidaciones</a></li>
                                <li><a runat="server" href="~/ConciliacionList.aspx">Conciliaciones</a></li> 
                                <li>
                                    <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="Cerrar Sesión" LogoutPageUrl="~/Account/Login.aspx" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <!--<p>&copy; <%: DateTime.Now.Year %> - My ASP.NET Application</p>-->
            </footer>
        </div>
    </form>
</body>
</html>
